@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .px-responsive-electron {
        @apply px-[30px] sm:px-[40px] lg:px-[100px];
    }

    .swiper-pagination-bullet {
        @apply bg-electron-error w-1 h-1 mx-1 rounded-full; /* Example styles */
    }

    .swiper-pagination-bullet-active {
        @apply bg-electron-astral-blue; /* Example active bullet style */
    }

}

.next-element-swiper {
    font-size: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0E1120;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #202855;
}

