<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Activation Link</title>
</head>
<body>
<section>
    <p>
        Hi,
        <br/>
        Link is valid for <span th:text="${duration}"/>min.
        <br/>
        Click below to reset your password:
        <br/>
        <span th:text="${passwordRecoveryLink}"></span>
        <br/>
    </p>
</section>

<footer>
    2024 Electron ecommerce!
</footer>

</body>
</html>